:root {
  --app-background: #ffffff;
  --footer-contact-email: contacto @dominio.com;
  --footer-instagram: https: ; //instagram.com/yourprofile;
  --footer-twitter: https: ; //twitter.com/yourprofile;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: var(--app-background);
}
